@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

html {
    background: #f7f7f7; /* Updated background color */
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://example.com/classic_background.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(26, 160, 164, 0.9);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #6cacc5;
    border-radius: 0 0 15px 15px;
}

.header h2 {
    font-family: 'Crimson Pro', serif;
    text-shadow: 3px 3px 4px  #090726;
    margin: 0;
    font-size: 28px;
    text-align: center; /* Center the h2 tag */
    color: white; /* Change text color to white */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: calc(100vh - 120px);
    border: 2px solid #040a0c;
    border-radius: 8px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    background: rgba(4, 9, 54, 0.28);
    color: #ecf1f3;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 14px;
    margin: 8px;
    transition: all 0.5s;
}

button:hover {
    background: #201e40;
    color: #fff;
}